 body { font-family: Verdana; }
.content { margin: 40px auto; width: 960px; }

h1 { color: #60b5cc; margin-bottom: 0; }
h3 { float: left; margin: 0 }
label { vertical-align: bottom; }
button {
  float: left; background-color: #60b5cc; border: 0; color: rgb(44, 44, 44);
  font-size: 12px;
  cursor: pointer;
  padding: 5px;
  margin: 10px;
  display: block;
}

button:hover {
  background-color: white;
}


.content::after {
  content: "";
  display: table;
  clear: both;
}

.budget-item-container {
  display: block;
  margin-bottom: 50px;
}

.budget-item-row {
  display: block;
}


